@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin 'daisyui';

@layer utilities {
  .prose blockquote {
    color: var(--color-amber-100);
    border-left-color: var(--color-amber-100);
  }

  .prose pre code {
    text-align: left;
    display: block;
  }

  .prose pre {
    overflow-x: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-neutral-700) !important;
  }

  .prose ul li::marker {
    color: var(--color-amber-100) !important;
  }

  .prose img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .prose pre, .prose pre code {
    white-space: pre-wrap;
    word-break: break-word;
  }

  .prose,
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    color: inherit;
  }

  .prose a {
    color: inherit;
    transition: color 0.2s;
  }
  .prose a:hover {
    color: gray;
  }
}

@theme {
  --color-default: var(--color-amber-100);
  --color-angular: #b52e31;
  --color-dotnet: #512bd4;
  --color-nodejs: #5FA04E;
  --color-github: #1F2328;

  --blog-shadow-dimensions: 0 0 20px 10px;

  --shadow-default: var(--blog-shadow-dimensions) var(--color-default);
  --shadow-angular: var(--blog-shadow-dimensions) var(--color-angular);
  --shadow-dotnet: var(--blog-shadow-dimensions) var(--color-dotnet);
  --shadow-nodejs: var(--blog-shadow-dimensions) var(--color-nodejs);
  --shadow-github: var(--blog-shadow-dimensions) var(--color-github);
}

@source inline("hover:shadow-default");
@source inline("hover:shadow-angular");
@source inline("hover:shadow-dotnet");
@source inline("hover:shadow-nodejs");
@source inline("hover:shadow-github");

body {
  color: #213547;
  background-color: #ffffff;
}

.github-icon {
  mask-image: url('/images/github/github-mark.svg');
  mask-size: contain;
  -webkit-mask-image: url('/images/github/github-mark.svg');
  -webkit-mask-size: contain;
}