@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin 'daisyui';

@layer utilities {
  .prose pre code {
    text-align: left;
    display: block;
  }

  .prose pre {
    overflow-x: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .prose img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .prose pre, .prose pre code {
    white-space: pre-wrap;
    word-break: break-word;
  }
}

@theme {
  --color-default: #000;
  --color-angular: #b52e31;
  --color-dotnet: #512bd4;

  --blog-shadow-dimensions: 0 0 20px 10px;

  --shadow-default: var(--blog-shadow-dimensions) var(--color-default);
  --shadow-angular: var(--blog-shadow-dimensions) var(--color-angular);
  --shadow-dotnet: var(--blog-shadow-dimensions) var(--color-dotnet);
}

@source inline("hover:shadow-default");
@source inline("hover:shadow-angular");
@source inline("hover:shadow-dotnet");

body {
  color: #213547;
  background-color: #ffffff;
}
