@import 'tailwindcss';
@plugin 'daisyui';

@theme {
  --color-default: #000;
  --color-angular: #b52e31;
  --color-dotnet: #512bd4;

  --blog-shadow-dimensions: 0 0 20px 10px;

  --shadow-default: var(--blog-shadow-dimensions) var(--color-default);
  --shadow-angular: var(--blog-shadow-dimensions) var(--color-angular);
  --shadow-dotnet: var(--blog-shadow-dimensions) var(--color-dotnet);
}

@source inline("hover:shadow-default");
@source inline("hover:shadow-angular");
@source inline("hover:shadow-dotnet");

body {
  color: #213547;
  background-color: #ffffff;
}
